
<div class="main">

<div id="search">

<div class="search-tools">
  <div class="margin20"></div>
  <div class="margin20"></div>
   <div class="margin20"></div>
      <div class="margin20"></div>


  <div class="filter">
   

  <div class="tooltip-item tooltip-inner">
    I am looking for a ▼
  <div class="tooltip">
    <div class="tooltip-arrow"></div>
     <ol>
        <li>
          <input id="small" type="checkbox" name="gender" value="female">
          <label for="small">A woman</label>
        </li>
        <li>
          <input id="medium" type="checkbox" name="gender" value="male">
          <label for="medium">A man</label>
        </li>
      </ol>
  </div>
</div>
</div>
   <div class="filter">
   
  <div class="tooltip-item tooltip-inner">
    With an age ▼
  <div class="tooltip">
     <ol>
        <li>
          <input id="small" type="checkbox" name="age" value= "18-30">
          <label for="small">less than or equals to 30</label>
        </li>
        <li>
          <input id="medium" type="checkbox" name="age" value ="31-40">
          <label for="medium">31-40</label>
        </li>
        <li>
          <input id="medium" type="checkbox" name="age" value = "41-50">
          <label for="medium">41-50</label>
        </li>
        <li>
          <input id="medium" type="checkbox" name="age" value = "51-60">
          <label for="medium">51-60</label>
        </li>
        <li>
          <input id="medium" type="checkbox" name="age" value = "61-100">
          <label for="medium">greater than 60</label>
        </li>
      </ol>
  </div>
</div>
</div>

  <div class="filter">
   
  <div class="tooltip-item tooltip-inner">
     lives in ▼
  <div class="tooltip">
     <ol>
        <li>
          <input id="medium" type="checkbox" name="city" value="toronto">
          <label for="medium">Toronto</label>
        </li>
        <li>
          <input id="medium" type="checkbox" name="city" value="newyork">
          <label for="medium">New York</label>
        </li>

        <li>
          <input id="medium" type="checkbox" name="city" value="london">
          <label for="medium">London</label>
        </li>
      </ol>
  </div>
</div>
</div>

<br>

  <div class="trigger" id= "search-div">
    <button id="search-button" data-url=<%= users_path %>>Search</button>
  </div>
</div>

<br>

<div id="slider">

  
    <div class="filtering">

        <h3>Users online</h3>
    
        <% @user10.each do |user| %>
          <div><%= link_to image_tag("https://placeimg.com/150/150/people"), user_path(user.id) %><span><%= link_to user.username, user_path(user.id) %></span></div>
        
        <% end %>
          
        </div>
  
  </div>



<div id="search_results"><hr>

<ul id="users-gird-list">
 <%= render @users %>
 </ul>

</div>
<div id="paginate-div">
<%= paginate @users %>
<div>