<h2>Sign up</h2>
<%= form_for(@user) do |f| %>
	<% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
      <% for message in @user.errors.full_messages %>
     <li>
       <%= message %>
     </li>
        <% end %>
      </ul>
    </div>
	<% end %>
	<div class="field">
		<%= f.label :first_name %><br/>
		<%= f.text_field :first_name %>
	</div>
	<div class="field">
		<%= f.label :last_name %><br/>
		<%= f.text_field :last_name %>
	</div>
	<div class="field">
		<%= f.label :username %><br/>
		<%= f.text_field :username %>
	</div>
	<div class="field">
		<%= f.label :email %><br/>
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<%= f.label :password %><br/>
		<%= f.password_field :password %>
	</div>
	<div class="field">
		<%= f.label :password_confirmation  %><br/>
		<%= f.password_field :password_confirmation %>
	</div>
		<%= f.label :gender %><br/>
		<%= f.select :gender, [['male','male'],['female','female'],['any','any']]%>
	</div>
	<div class="field">
		<%= f.label :gender_preference  %><br/>
		<%= f.select :gender_preference, [['male','male'],['female','female'],['any','any']]%>
	</div>
	<div class="field">
		<%= f.label :address %><br/>
		<%= f.text_field :address %>
	</div>
	<div class="field">
		<%= f.label :date_of_birth %><br/>
		<%= f.date_select :date_of_birth, :order => [:day, :month, :year], start_year: 1920%>
	</div>
	<div class="action">
		<%= f.submit %>
	</div>
<% end %>