<div class="main">

<div class="padding20"></div>
<div class="padding20"></div>

	<div id="profile">
  <div id="user-show-notification"></div>
    <div>
      <p><%= link_to 'Back', users_path, class: "btn btn-inverse" %></p>
    </div>

		<div class="cards">
  <div class="card">
    <div class="card-image">
      <img src="https://placeimg.com/640/480/people">
    </div>
    <div class="card-header">
      <em>Username</em>
    </div>
    <div class="card-copy">
		   <ul id="user-info" data-user-id= <%= @user.id %> data-username =<%= @user.username %> data-first-name=<%= @user.first_name %> data-last-name =<%= @user.last_name %>>
		    <li data-user-id=<%= @user.id %> data-username =<%= @user.username %>><%= @user.gender %></li>
		    <li>Username: <%= @user.username %></li>
        <li>First Name: <%= @user.first_name %></li>
        <li>Last Name: <%= @user.last_name %></li>
        <li>Gender: <%= @user.gender %></li>
        <li>Original Size: <%= image_tag @user.avatar.url %></li>
        <li>Medium Size: <%= image_tag @user.avatar.url(:medium) %></li>
        <li>Thumb Size: <%= image_tag @user.avatar.url(:thumb) %></li>

        <li>Online Status: 

            <% if current_users_list.include?(@user) == true %>
              <span class='green'><i class='fi-check'></i> Online</span>
            <% else %>
              <span class='red'><i class='fi-x'></i> Offline</span>
            <% end %>
        </li>
		  </ul>
    </div>
    <div class="card-stats">
       
    <div class="buttons">
     <% if @user.id != current_user.id %>
        <div id="send-private-message-div">
          <%= render "send_private_message" %>
        </div>
        <div id="invitation-div">
          <%= render partial: "invitation_form" %>
        </div>

        <div id="favorite-div" class="btn">
          <% if @favorite.nil? %> 
            <%= render partial: "favorites/favorite" %>
          <% else %>
            <%= render partial: "favorites/destroy_favorite" %>
          <% end %>
        </div>
        <div id="block-div" class="btn">
          <% if !current_user.has_blocked(@user) %>
            <%= render partial: "blocks/block" %>
          <% else %>
            <%= render partial: "blocks/destroy_block" %>
          <% end %>
        </div>
     <% else %>
    </div>
  </div>

 </div>

  <div id="bio">

	<div id="description">
	 <p><%= @user.biography %></p>

	</div>


  <div id="mystats"><br>
  <% if @user.id == current_user.id %>
    <table class="table-minimal text-center">
      <thead>
        <tr>
        <ul>
         
            <li></li>
          <% end %>
          </ul>
          <th><i class='fi-heart'></i>Favorite Users</th>
          <th><i class='fi-puzzle'></i>Blocked Users</th>
        </tr>
      </thead>
      <tbody>
        <tr>
           <td id = "favorite-list"> 
            <% @favorite_users.each do |user| %>
             <p><%= link_to "#{user.first_name} #{user.last_name}" , user_path(user) %></p>
            <% end %>
           </td>
           <td id = "block-list">
            <% @blocked_users.each do |user| %>
              <p><%= link_to "#{user.first_name} #{user.last_name}" , user_path(user) %></p>
             <% end %>
           </td>  
        </tr>
        <tr>

        </tr>
      </tbody>
    </table>
  <% end %>
  </div>
 
 </div>

<div class="padding20"></div>

</div>

<div class="clearfix"></div>

	</div>

</div>


