<div class="main">

<div class="padding20"></div>
<div class="padding20"></div>

	<div id="profile">

    <div>
      <p><%= link_to 'Back', users_path, class: "btn btn-inverse" %></p>
    </div>

		<div class="cards">
  <div class="card">
    <div class="card-image">
      <img src="https://placeimg.com/640/480/people">
    </div>
    <div class="card-header">
      <em>Username</em>
    </div>
    <div class="card-copy">
		   <ul id="user-info">
		    <li data-user-id=<%= @user.id %> data-username =<%= @user.username %>><%= @user.gender %></li>
		    <li>Username: <%= @user.username %></li>
		    <li>Age: 32</li>
		  </ul>
    </div>
    <div class="card-stats">
         <div class="btn-group">

          <a href="#fakelink" data-url=<%= game_path(@user, current_user) %> class="invitation-button btn btn-warning"><i class="fi-puzzle"></i><span> Invite <%= @user.username %> to play</a>
	        <a class="btn btn-primary active" href="#fakelink"><i class="fi-heart"></i><span> Favorites</span></a>    
          <a href="#fakelink" data-url=<%= game_path(@user, current_user) %> class="invitation-button btn btn-danger"><i class="fi-x"></i><span> Block <%= @user.username %></a>

         </div>
    </div>
  </div>

  <div id="bio">

	<div id="description">
	 <p><%= @user.biography %></p>
   <p><%= @user.biography %></p>
   <p><a class="btn btn-inverse" href="#fakelink"><span><i class="fi-mail"></i> Send a Private Message</span></a></p>
	</div>


  <div id="mystats"><br>

    <table class="table-minimal text-center">
      <thead>
        <tr>
          <th><i class='fi-heart'></i> My Favorites</th>
          <th><i class='fi-puzzle'></i> My Games</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Row 1 Cell 1</td>
          <td>Row 1 Cell 2</td>
        </tr>
        <tr>
          <td>Row 2 Cell 1</td>
          <td>Row 2 Cell 2</td>
        </tr>
        <tr>
          <td>Row 3 Cell 1</td>
          <td>Row 3 Cell 2</td>         
        </tr>
        <tr>
          <td>Row 4 Cell 1</td>
          <td>Row 4 Cell 2</td>
        </tr>
      </tbody>
    </table>
  </div>
 
 </div>



</div>

<div class="clearfix"></div>

	</div>

</div>






