<h2>User Show Page</h2>
<div id="user-show-notification"></div>
<p>First Name: <%= @user.first_name %></p>
<p>Last Name: <%= @user.last_name %></p>
<p>Username: <%= @user.username %></p>
<p>Gender: <%= @user.gender %></p>
<p>Address: <%= @user.address %></p>
<p>Email: <%= @user.email %></p>
<div id="user-info" data-user-id= <%= @user.id %> data-username =<%= @user.username %> data-first-name=<%= @user.first_name %> data-last-name =<%= @user.last_name %> >
<div>	
<% if @user.id != current_user.id %>
	<div id="invitation-div">
		<button class="invitation-button" data-url=<%= game_path(@user, current_user) %>>Invite <%= @user.username %></button>
	</div>
	<div id="favorite-div">
		<% if @favorite.nil? %>
			<%= render "favorites/favorite" %>
		<% else %>
			<%= render "favorites/destroy_favorite" %>
		<% end %>
	</div>
<% else %>
	<div id = "favorite-list">
		<p>Favorite Users</p>
		<ul>
		<% @favorite_users.each do |user|%>
			<li> <%= link_to "#{user.first_name} #{user.last_name}" , user_path(user) %></li>
		<% end %>
		</ul>
	</div>
<% end %>
<p>Current User: <%= current_user.username %></p>

