<div class="main">

<div class="padding20"></div>


    <table class="table-minimal private_messages">
      <thead>
        <tr>
          <th>To: <%= @user.first_name %> <%= @user.last_name %></th>
        </tr>     
      </thead>
      <tbody>
      	<tr class="message_box">
      		<td>
            <%= form_for([@user, @private_message]) do |f|%>
              <% if @private_message.errors.any? %>
                <div class="error_messages">
                <%= pluralize(@private_message.errors.count, "error")%> prevent the message to be sent.
                <ul>
                  <% for message in @private_message.errors.full_messages %>
                    <li>
                      <%= message %>
                    </li>
                  <% end %>
                </ul>
                </div>
              <% end %>
              <div class="field">
                <%= f.label :message %>
                <%= f.text_area :message, :rows => "10" %>
              </div>
              <div class="actions">
                <%= f.submit "Send", :id => "send"%>
              </div>
            <% end %>
      		</td>

      	</tr>
        
      </tbody>
    </table>

</div>

<div class="padding20"></div>



