<div class="main">

<div class="padding20"></div>

    <div class="clearfix"></div>  
    
    <table class="table-minimal private_messages">
      <thead>
        <tr>
          <th>From: <%= @private_message.sender.first_name %> <%= @private_message.sender.last_name %> At: <%=@private_message.created_at.in_time_zone(Time.zone.name).to_formatted_s(:long) %></th>
        </tr>
      </thead>
      <tbody>    	
        <tr>
          
          <td>

              <%= link_to "Reply", new_user_private_message_path(@private_message.sender, :source =>private_message_path(@private_message)), class: "btn btn-inverse" %>
            <%= link_to "Delete", private_message_path(@private_message), method: :delete, class: "btn btn-danger delete-btn" %>
             <%= link_to "Back", user_private_messages_path(current_user), class: "btn btn-primary" %>
            </td>
        </tr>
           <tr>
           <td><%= @private_message.message %></td>
       

            </tr>

      </tbody>
    </table>
</div>
