
<div class="hero">
	<div class="hero-inner">

    <div class="margin20"></div>
	      <div class="animated fadeInDown">
         <h1 class="h1">TIC TAC YO!</h1>
        </div>
        
		<div class="hero-copy">

    	  <div class="images deg7">

        <ul id="slider1">
          <li><img src="http://www.freeimages.com/assets/18/170016/love-couple-1427285-m.jpg" /></li>
          <li></li>
          <li><img src="http://www.freeimages.com/assets/183167/1831666073/embracing-couple-1415226-m.jpg" /></li>
          <li><img src="http://www.freeimages.com/assets/182986/1829857374/love-is-all-1402028-m.jpg" /></li>
        </ul>
    
     </div>

     <div class="images deg14">

        <ul id="slider2">
           <li></li>
          <li><img src="http://www.freeimages.com/assets/182986/1829857374/love-is-all-1402028-m.jpg" /></li>
          <li><img src="http://www.freeimages.com/assets/182970/1829698235/wedding-757114-m.jpg" /></li>
        
           <li><img src="http://www.freeimages.com/assets/18/170016/love-couple-1427285-m.jpg" /></li>
        </ul>
    
     </div>

     <div class="images deg28">

        <ul id="slider3">
          <li><img src="http://www.freeimages.com/assets/183335/1833343475/hands-1422276-m.jpg" /></li>
          <li><img src="http://www.freeimages.com/assets/2/14646/museo-picasso-15718-m.jpg" /></li>
         <li></li>
           <li><img src="http://www.freeimages.com/assets/182931/1829302052/timo-and-i-612198-m.jpg" /></li>
        </ul>
    
     </div>
				
		  <div class="margin20"></div>

			<div class="account">

        <% if current_user %>
          <%= link_to " Search for Users", users_path, class: 'btn btn-inverse btn-lg fi-heart'%>
          <%= link_to " See who is online", users_path , class: 'btn btn-primary btn-lg fi-eye'%>
			    
        <% else %>
          <%= link_to "Sign Up", new_user_path, class: 'btn btn-inverse btn-lg '%>
          <%= link_to " Log In", new_users_session_path , class: 'btn btn-primary btn-lg'%>
        <% end %>

        <h1>Join the best free dating site on Earth.</h1>
			   <div class="clearfix"></div>
	
    		</div>
    
	    </div><!-- hero-copy-->	
	</div>


<div class="bottom">
<div id="about">
    <div class="content">
        <h3>About Tic Tac Yo!  
           
            <span class="account1">
              <% if current_user %>
                <%= link_to " Search for Users", users_path, class: 'btn btn-inverse btn-lg fi-heart'%>
                <%= link_to " See who is online", users_path , class: 'btn btn-primary btn-lg fi-eye'%>
                
              <% else %>
                <%= link_to "Sign Up", new_user_path, class: 'btn btn-inverse btn-lg'%>
                <%= link_to "Log In", new_users_session_path , class: 'btn btn-primary btn-lg'%>
              <% end %>
           <div class="clearfix"></div>
  
         </span>
        </h3>

        <hr>
        <h3>Welcome to Tic-Tac-Yo</h3><hr>

         <p>This is a full functioning dating site that differentiates 
          itself through incorporating real time multiplayer 
          gameplay as an 'icebreaker' feature.
        </p>

        <h3>Collaborators</h3><hr>
        <ul>
          <li>Drew Martin (Drew.E.Martin@gmail.com)</li>
          <li><a href="/sandyludosky.github.io" target='_blank'>Sandy Ludosky</a> (sandyludosky@gmail.com)</li>
          <li>Weiyi Zheng (zhengweiyi@gmail.com)</li>
        </ul>

        <div class="padding20"></div>
        
    </div>
</div>

   
	</div>

</div><!--bottom-->


	</div>

</div>




