<header class="navigation">
  <div class="navigation-wrapper">

    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        <li><%= link_to 'Home', root_url %></li>
        <li><a href="#about">About</a></li>
        <% if current_user %>
        <li><em><%= link_to "Welcome! " + current_user.username, user_path(current_user), class: 'current_user' %></em></li>
    
        <li id="notification-div">
      </li>
      <% end %>
      </ul>       
    </div>
   <!--to add link to my profile -->
   <!-- test logout button -->
    <div class="navigation-tools" id="nav">
        <% if current_user.nil? %>

         <%= link_to "Sign Up", new_user_path, class: 'btn btn-info'%>

         <%= link_to "Log In", new_users_session_path , class: 'btn btn-primary'%>


        <% else %>
        <%= link_to "Inbox", user_private_messages_path(current_user), class: 'btn btn-info' %>
         <%= link_to "Edit Profile", edit_user_path(current_user.id), class: 'btn btn-inverse'  %>
         <%= link_to("Logout", users_session_path(current_user) , class: "logout btn btn-danger", method: :delete)%>
        <% end %>
   </div>
  </div>
</header>
<div >


     
 
    
    
  