<!DOCTYPE html>
<html>
<head>
  <title>TicTacYo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%=javascript_include_tag "https://cdn.firebase.com/js/client/1.0.17/firebase.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/topbar' %>

 <div class="alerts">

 

    <p id="alert"><%= flash[:alert] %></p>
    <p id="notice"><%= flash[:notice] %></p>
    
  </div>

<%= yield %>


 <%= render 'layouts/footer' %>

 
</body>
</html>
