<!DOCTYPE html>
<html>
<head>
  <title>TicTacYo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%=javascript_include_tag "https://cdn.firebase.com/js/client/1.0.17/firebase.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <% if flash[:alert] %>
      <p id="alert"> <%= flash[:alert] %> </p>
    <% end %>
    <% if flash[:notice] %>
      <p id="notice"> <%= flash[:notice] %> </p>
    <% end %>
    
  <%= render 'layouts/topbar' %>

 <div class="alerts">

  <div id="nav">
    <% if current_user %>

      <%= link_to "My Profile", user_path(current_user), class: 'btn btn-info' %>
      <%= link_to "Logout", :logout, method: :post, class: 'btn btn-danger' %>
      <div>Current User: <%= current_user.username  %></div>
      <%= javascript_tag do %>
        window.current_user = <%= raw current_user.to_json %>;
      <% end %>
      
    <% else %>
      <%= link_to "Register", new_user_path, class: 'btn btn-inverse' %> |
      <%= link_to "Login", :login, class: 'btn btn-inverse' %>
    <% end %>
  </div>

    <p id="alert"><%= flash[:alert] %></p>
    <p id="notice"><%= flash[:notice] %></p>
  </div>

<%= yield %>


 <%= render 'layouts/footer' %>

 
</body>
</html>
